# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
#        os: [ ubuntu-latest, macos-latest, windows-latest ]
        os: [ ubuntu-latest, macos-latest ]
        python-version: [ '3.7', '3.8', '3.9', '3.10' ]
        include:
          - os: ubuntu-latest
            pip-cache: ~/.cache/pip
            poetry-cache: ~/.cache/pypoetry
          - os: macos-latest
            pip-cache: ~/Library/Caches/pip
            poetry-cache: ~/Library/Caches/pypoetry
#          - os: windows-latest
#            pip-cache: ~\AppData\Local\pip\Cache
#            poetry-cache: ~\AppData\Local\pypoetry\Cache
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/cache@v2
        with:
          path: ${{ matrix.pip-cache }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-pip-
      - uses: actions/cache@v2
        with:
          path: ${{ matrix.poetry-cache }}
          key: ${{ runner.os }}-${{ matrix.python-version }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-poetry-
      - uses: actions/cache@v2
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-${{ matrix.python-version }}-mypy-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-mypy-
      - uses: actions/cache@v2
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-${{ matrix.python-version }}-ms-playwright-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-ms-playwright-
      - name: Install dependencies
        run: |
          make install-actions
      - name: Lint
        run: |
          make lint
      - name: Test
        env:
          CHROMEDRIVER_VERSION: 98.0.4758.102
        run: |
          make test
      - name: Code Coverage
        uses: codecov/codecov-action@v2.1.0
        if: ${{ success() }}
